*:not(input) {
    user-select: none;
    -webkit-user-select: none;
}
/* .container {
    max-width: 800px;
    border-radius: 1rem;
}
.todos li:not(:last-child) {
    border-bottom: .5px solid #0002;
}
.todos li span {
    cursor: pointer;
}
.todos li.done span {
    text-decoration: line-through;
}
.todos .icon {
    cursor: pointer;
}
.add-todo input {
    border: none;
    border: .5px solid grey;
    padding: .3rem;
    width: 250px;
    border-radius: .2rem;
}
.add-todo input:focus {
    outline: 1px solid black;
}
.add-todo button {
    padding: .3rem .6rem;
    border-radius: .2rem;
    background: rgb(30,225,100);
    cursor: pointer;
    font-weight: 100;
} */

#smartphone {
    height: 146.71mm;
    width: 71.52mm;
    background: rgb(44,44,44);
    border-radius: 11.5mm;
    border: 1px solid rgb(137,137,137);
    box-shadow: 0 0 3rem #0007;
}
.glass {
    height: 144.61mm;
    width: 69.42mm;
    border-radius: 10.7mm;
    background: #000;
}
.screen {
    height: 139.77mm;
    width: 64.58mm;
    background: #fff;
    border-radius: 8.4mm;
}