<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/my-framework.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="root">
        <!-- header -->
        <!-- <header class="text-center">
            <div class="container mx-auto">
                <img class="w-20 py-1" src="img/logo.png" alt="logo boolean">
                <h1>Todo List</h1>
            </div>
        </header> -->
        <!-- main -->
        <!-- <main>
            <div class="add-todo text-center my-1">
                <input v-model="inputValue" @keydown.enter="addTodo()" type="text" placeholder="Inserisci una nuova cosa da fare">
                <button class="text-white" @click="addTodo()">Aggiungi</button>
            </div>
            <div class="container bg-lightgrey p-1 mx-auto my-1">
                <ul class="todos" v-if="todos.length > 0">
                    <li class="flex justify-between p-1" :class="(item.isDone == true ? 'done' : '')" v-for="(item, i) in todos">
                        <span @click="done(i)">{{item.text}}</span>
                        <div class="icon" @click="removeTodo(i)">
                            <i class="fas fa-times"></i>
                        </div>
                    </li>
                </ul>
                <h2 class="p-1" v-else>Non ci sono todos</h2>
            </div>
        </main> -->

        <!-- smartphone ui -->
        <div id="smartphone" class="mx-auto my-3 flex-center">
            <div class="glass flex-center">
                <div class="screen">

                </div>
            </div>
        </div>
    </div>
    <!-- development version, includes helpful console warnings -->
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>